<html>
    <head>
        <title>login page</title>
        <style>
            h1{color:red;}
        </style>
    </head>
    <body>
        <%- include('common/header');%>
        <h1>this is login page</h1>
        
    </body>
</html>